:root {
  --bg: #262626;
  --text: #fff;
  font-size: 17px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

/* Base HTML Elements */

body {
  background-color: var(--bg);
  min-width: 360px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

h1 {
  color: var(--text);
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 1.5em;
  letter-spacing: 0.05em;
}

h2 {
  color: var(--text);
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 1.5em;
  letter-spacing: 0.05em;
  margin: 0.5rem;
}

h3 {
  color: var(--text);
  margin: 0.2rem;
  font-size: 13px;
  text-align: center;
}
h4 {
  margin: 0.5rem;
  font-size: 13px;
  text-align: center;
  color: white;
  color: var(--text);
}
h5 {
  color: white;
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 1.5em;
  letter-spacing: 0.05em;
  margin: 0.5rem;
}

/* Banner */

.banner-top {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 4em;
  text-align: center;
  max-width: 90%;
  margin-bottom: 60px;
  align-items: center;
}

.banner-top > checkbox {
  font-size: 30px;
}

.profile-textboxes {
  display: inline;
  text-align: center;
  align-items: center;
  line-height: 30px;
}

input[type="text"] {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 15px;
  border-radius: 25px;
  background: #c4c4c4;
  margin: 0 auto;
}

/* Sections for content */

.flex {
  display: flex;

  flex-direction: row;

  flex-wrap: wrap;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: black;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  min-height: 320px;
  max-height: 600px;
  position: relative;
  justify-content: flex-start;
  flex-grow: 1;
}

.movie-display > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

/*modal notification*/
.modal-main {
  position: fixed;
  background: (var(--bg));
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/* Recolour the site based on system theme*/

@media (prefers-color-scheme: light) {
  :root {
    --bg: #e1e1e1;
    --text: #000000;
  }
}

/* Resize contnet based on screen size */

@media screen and (max-width: 1600px) {
  :root {
    font-size: 17px;
  }

  .post-showcase > .image {
    width: 30%;
  }

  .post-showcase > .info {
    width: 70%;
  }
}

@media screen and (max-width: 1400px) {
  :root {
    font-size: 17px;
  }

  .post-showcase > .image {
    width: 30%;
  }

  .post-showcase > .info {
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    font-size: 17px;
  }

  .post-showcase > .image {
    width: 25%;
  }

  .post-showcase > .info {
    width: 75%;
  }
}

@media screen and (max-width: 960px) {
  :root {
    font-size: 16px;
  }

  .post-showcase > .image {
    width: 0%;
  }

  .post-showcase > .info {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .section {
    justify-content: space-between;
    height: "320px";
    overflow: hidden;
    max-height: 100%;
    margin: 16px 16px 0 16px;
  }
}

@media screen and (max-width: 480px) {
  :root {
    font-size: 16px;
  }

  .post-showcase > .image {
    width: 0%;
  }

  .post-showcase > .info {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  :root {
    font-size: 16px;
  }

  .post-showcase > .image {
    width: 0%;
  }

  .post-showcase > .info {
    width: 100%;
  }
}
